parameters:

  paths:
    - src
    - workbench

  # The level 8 is the highest level
  level: 8

  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Database\\ConnectionInterface::(getName|query)\(\)#'

  checkMissingIterableValueType: false
